.audiowall-item {
	width: 100%;
	padding: 5px;
	background: red;
	border-radius: 4px;
	height: 150px;
	text-align: center;
	margin: 5px 0;

	.row {
		margin: inherit;
		padding: 0;
	}

	.audiowall-title {
		line-height: 1.2rem;
	    overflow: hidden;
	    height: 4rem;
	    font-size: 1.4rem;
	}
}

@include media-breakpoint-up(lg) {
	.audiowall-item {
		width: 30%;
		margin: 5px 1%;
	}
}

.audiowall-time {
	margin: 0 auto;
	padding: 5px;
	background: $yellow;
	border-radius: 4px;
	color: $gray-800;
}

.audiowall-time-text, .audiowall-time-play {
	display: inline;
}