.audio-progress {
	margin: 5px 0;
	height: 25px;

	.progress-bar {
		padding: 0 5px;
		font-size: 1rem;
	}
}

.audio-upload-card-body {
	background: white;
	color: black;
}

.audio-upload-card {
	margin: 10px 0;

	.card-header {
		user-select: none;
		cursor: pointer;
    }
}

#audio-search-options {
	margin-top: 10px;

	.col-sm-2 {
		font-size: 1.2rem;
	}
}

.audio-player {
	padding: 5px;
    border-radius: 4px;
    background: lighten($gray-800, 10%);
    border: solid 3px $yellow;

    #wavesurfer, #wavesurfer-timeline {
    	width: 100%;
    }
}