div.studio-container {
	padding: 0;
}

div.studio-container, div.studio-container-row, div.studio-col-left, div.studio-col-right, div.studio-tab-content, #messages, #music, #log, #playlists {
	height: 100%;
}

div.studio-tab-content, div.studio-col-right {
}

div.studio-col-left {
	padding-top: 42px;
}

div.studio-now-next {
	font-size: 1.4rem;
	color: #d8b222;
	background: #2b2b2b;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 60px;
	position: fixed;
	top: 0;
}

footer.studio-footer {
	height: 75px;
	padding: 0;

	.logo-sm {
		margin: 10px 0px 10px 20px;
	}

	.col-sm-2 {
		margin: 10px 0 10px auto;
	}
}

body.studio-body {
	padding-top: 60px;
	padding-bottom: 75px;
	height: 100%;
	position: absolute;
	width: 100%;
	background: #b5b5b5;
	user-select: none;
}

a.studio-tab {
	background: lighten($gray-800, 20%) !important;
	border: solid $yellow 1px !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-top-width: 0 !important;
	padding-left: 0;
	padding-right: 0;
}

a.studio-tab.active {
	color: $yellow !important;
	background: lighten($gray-800, 10%) !important;
	border-left-width: 1px !important;
	border-right-width: 1px !important;
	border-top-width: 1px !important;
	border-bottom-width: 0 !important;

}

a.studio-tab.studio-reset {
	background: $red !important;
}

a.studio-tab:hover {
	border-color: $yellow;
}

div.studio-message-list {
	height: 30%;
	overflow-y: scroll;
	padding: 0;
	background: lighten($gray-800, 10%);
	color: white;
}

div.studio-message-container {
	height: 70%;
	overflow-y: scroll;
	background: white;
	padding: 0;

	h3 {
		background: lighten($gray-800, 20%);
		color: white;
		padding: 5px;
		height: 45px;
	}
	
	p {
		font-size: 1.2rem;
		padding: 0 5px;
	}
}


ul.studio-tabs {
	height: 42px;
	position: absolute;
	top: 0;
	width: 100%;
}

a.studio-tab-flash {
	animation: kf-studio-tab-flash 2s steps(1, start) infinite;
}

@keyframes kf-studio-tab-flash {
	50% {
		background: $yellow;
		color: $gray-800;
	}
}

div.studio-song-search {
    padding: 10px 10px 0px 10px;
    height: 80px;
    background: lighten($gray-800, 10%);
}

div.studio-song-search-results {
	height: calc(100% - 80px);
	overflow-y: scroll;
	background: white;
}

#messages {
	.icon {
		width: 25px;
		color: $yellow;
	}

	.sender, .date {
		width: 20%;
	}

	.subject {
		width: auto;
	}

	table {
		table-layout: fixed;
	}

	.active, .table-hover tbody tr:hover {
		background-color: rgba(0, 0, 0, 0.25);
	}

	table th {
		border-top-width: 0;
	}

	tbody tr:not(.active) {
		cursor: pointer;
	}

	img.emojione {
		max-width: 24px;
	}
}

#music, .studio-playlist-card {
	.icon {
		width: 25px;
	}

	.censor {
		color: $red;
	}

	.title, .artist, .album {
		width: 25%;
	}

	.length {
		width: auto;
	}

	table {
		table-layout: fixed;
	}

	table th {
		border-top-width: 0;
	}

	tbody tr {
		cursor: pointer;
	}

	label {
		color: white;
	}
}

#log {
	.title, .artist {
		width: 35%;
	}

	.date {
		width: auto;
	}

	table {
		table-layout: fixed;
	}

	table th {
		border-top-width: 0;
	}
}

#playlists {
	.card-icon {
		color: $yellow;
		display: inline;
	}

	.card {
		color: white;
		margin: 10px;
		border-width: 0;
	}

	.card-header {
		background: lighten($gray-800, 20%) !important;
		cursor: pointer;
	}
}

.studio-card {
	padding: 5px;
	margin: 10px;
	cursor: pointer;
	font-size: 1.2rem;
	color: white;
	background: lighten($gray-800, 20%) !important;

	.card-body {
		padding: 0;
	}

	.studio-card-remove {
		color: $yellow;
	}

	.censor {
		color: $red;
	}
}

.studio-card:hover {
	background: $gray-800 !important;
}

.studio-card.active {
	background: $yellow !important;
	color: $gray-800;
	cursor: default;

	.studio-card-remove {
		color: $gray-800;
	}
}

.studio-showplan-header {
	height: 60px;
	border-bottom: solid $yellow 3px;
	background: lighten($gray-800, 10%);
	color: white;
	padding: 7px 0;

	select {
		max-width: 50%;
	}
}

.studio-showplan {
	height: calc(100% - 60px);
	overflow-y: scroll;
}

.studio-log-add {
	height: 60px;
	background: lighten($gray-800, 10%);
	padding: 10px;
}

.studio-log-table {
	background: white;
	height: calc(100% - 60px);
	overflow-y: scroll;
	padding: 0;
}

.studio-playlist-container {
	height: 100%;
	overflow-y: scroll;
}

.studio-playlist-card {
	background: white;
	color: black;
	padding: 0;
}

.studio-time {
	font-family: 'Roboto Mono', monospace;
	
	h2, h5 {
		margin: 0;
	}
}

a.studio-reset {
	cursor: pointer;
}