
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.logo {
	height: 100px;
	display: inline-block;
}

.logo path {
	fill: black !important;
}