
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// FontAwesome
@import "~font-awesome/scss/font-awesome";

// Bootstrap select
@import "~bootstrap-select/sass/bootstrap-select";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Box Layout Page
@import "box";

@import "_nav";
@import "_audiowall";
@import "_studio";
@import "_showplan";
@import "_audio";

// Logo
@import "logo";

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0;
}

.border-3 {
	border-width: 3px !important;
}

nav {
	font-size: 1.5rem;
	color: $yellow !important;
}

body {
	background: lighten($gray-800, 10%);
}

.btn-search {
	border-radius: 0 $border-radius $border-radius 0;
}

.btn-space {
	margin-right: 5px;
}

.list-group-item {
	background: lighten($gray-800, 20%);
	color: $white;
    cursor: pointer;
}

.list-group-item:not(.playlist-item):hover {
	background: lighten($yellow, 20%);
	border-color: lighten($yellow, 20%);
	color: $gray-800;
}

.list-group-item.active {
	background: $yellow;
	border-color: $yellow;
	color: $gray-800;
}

a, a:hover {
	color: $yellow;
}

body {
	min-height: 100vh;
	position: relative;
	padding-bottom: 6rem;
}

.card {
	background: $gray-800;

	.card-title {
		color: $yellow;
	}
}

.modal-very-lg {
	max-width: 80%;
}

.bg-warwick {
	background: #5b3069;
}