.box-absolute-center {
	width: 100%;
	padding: 40px;
	height: 100vh;
	z-index: 1;
}

@include media-breakpoint-up(sm) {
	.box-absolute-center {
		height: fit-content;
		min-width: 200px;
		max-width: 400px;
		padding: 40px;
		z-index: 1;
	}
}

.body-box {
	padding-bottom: 0 !important;
}

.page-height {
	height: 100vh !important;
}

canvas.particles-js-canvas-el {
	position: absolute;
	z-index: 0;
}