.logo-lg {
	height: 200px;
	display: block;
}

.logo-md {
	height: 100px;
	width: 200px;
	overflow: hidden;
	display: block;
}

.logo-sm {
	height: 50px;
	width: 150px;
	overflow: hidden;
	display: block;
}

.wave-sm {
	height: 50px;
	width: 20px;
	overflow: hidden;
	display: block;
}

.logo-login {
	width: 80%;
	margin: 0 auto;
}

.logo-white path {
	fill: white !important;
}