.logo-lg {
	height: 200px;
	display: inline-block;
}

.logo-md {
	height: 100px;
	display: inline-block;
}

.logo-sm {
	height: 50px;
	display: inline-block;
}

.logo-login {
	width: 80%;
	margin: 0 auto;
}

.logo-white path {
	fill: white !important;
}